.navbar {
  background-color: #9C27B0;
}
.footer {
  position: absolute;
  padding-bottom:0;
  padding-left: 0;
  width: 100%;
  height: 200px;
}
html, body {
  height: 100%;
  padding-bottom: 200px
}
