<template name="login">
  <div class="login-container container-fluid">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Login</h4>
        <div class="form-group">
          <input class="form-control input-sm" id="login-username" placeholder="Username" />
          <input class="form-control input-sm" id="login-password" placeholder="Password" type="password" />
          <div>
            <button type="button" class="btn btn-info fullbutton btn-raised" id="login">Log in</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
